.chat_side
  .side-header 
    .items
      .items__name
        = current_user.name
      .items__icon
        = link_to new_group_path, class: "items__icon__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: 'items__icon__btn' do
          = icon('fas', 'cog')
  .memmber 
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .memmber__logo
          = group.name
        .memmber__text
          = group.show_last_message
